* {
    font-family: 'Neucha', cursive;
}
body{
    --background-color: #F0EBE3;
    --text-color: #7D9D9C;
    --button-text-color: var(--background-color);
    --divider: var(--text-color);
    --accent-color: #576F72;
    --transition-delay: 1s;

    background-color: var(--background-color);
    color: var(--text-color);
    transition: var(--transition-delay);
}
body.dark{
    --background-color: #576F72;
    --text-color: #E4DCCF;
    --accent-color: #F0EBE3;
    transition: var(--transition-delay);
}
.theme-toggle-button{
    background: transparent;   
    border: transparent;
}

.header{
    color: var(--text-color);
    width: 100%;
}
.header a{
    text-decoration: none;
    color: var(--text-color);
}
.header a:hover{
    text-decoration: underline;
    color: var(--text-color);
}
.icon{
    width: 25px;
    height: 25px;
    margin: 20px;
    fill: var(--text-color);
}
.container{
    padding: 0% 23px;
}
.item{
    height: 90%;
    width: 49%;
    border: 2px solid var(--divider);
    border-radius: 5px;
}
.item h1{
    text-align: center;
    color: var(--text-color);
}

#reader{
    width: 400px;
}
#result h3{
    text-align: center;
    color: var(--text-color);
}
#result a{
    text-decoration: none;
    color: var(--text-color);
}
#result a:hover{
    text-decoration: underline;
}

form input {
    border: transparent;
    outline: transparent;
    background-color: var(--accent-color);
    color: var(--button-text-color);
    height: 24px;
    width: 300px;
    padding: 3px 10px;
    border-radius: 5px;
    transition: var(--transition-delay);
}
.btn{
    border: transparent;
    border-radius: 5px;
    padding: 7px 23px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--button-text-color);
    transition: var(--transition-delay);
    transform: scale(1);
}
.btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
footer {
    text-align: center;
}
/* for typical mobiles */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .container {
        padding: 0px 0px;
    }
    .item h1{
        font-size: 24px;
    }
    form input {
        width: 150px;
    }
    .btn{
        font-size: 12px;
        padding: 7.5px 6px;
    }
    #reader {
        width: 300px;
    }
}
/* for mobile landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        padding: 0px 0px;
    }
    .item h1{
        font-size: 19px;
    }
    form input {
        width: 150px;
    }
    .btn{
        font-size: 12px;
        padding: 7.5px 6px;
    }
    #reader {
        width: 300px;
    }
}